<div bsModal #lgModal="bs-modal" class="modal fade modal-open" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header w-100">
                <h1 class="modal-title mr-auto">Client Summary</h1>

                <button class="btn btn-dark">
                    MESSAGE
                </button>
                <button class="btn btn-dark">
                    OPEN
                </button>
                <button class="btn " (click)="hide()">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body member-modal-body pt-2 pb-1">
                <div class="row">
                    <div class="col-6 border-right">
                        <div class="py-3 border-bottom">
                            <img [src]="user.logo?.url" alt="" class="rounded-circle mr-3" height="90" width="90">

                            <span class="h1"> {{ user.firstname }} {{ user.lastname }} </span>
                        </div>
                        <div class="py-3 border-bottom">
                            <div>
                                Total Workouts
                            </div>
                            <div>
                                Last Signed in
                            </div>
                            <div>
                                Member Since
                            </div>
                        </div>
                        <div class="border-bottom">
                            MyMacros
                        </div>
                        <div class="py-3 border-bottom">
                            <div>
                                Training Program
                            </div>
                        </div>
                        <div class="py-3">
                            <div>
                                Assigned to Trainer
                            </div>

                            <div>
                                Email
                            </div>

                            <div class="">
                                phone number
                            </div>

                            <div>
                                Age
                            </div>

                            <div>
                                Date of Birth
                            </div>

                            <div>
                                Height
                            </div>

                            <div class="">
                                Sex
                            </div>
                        </div>
                    </div>
                    <div class="col-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>