<div bsModal #lgModal="bs-modal" class="modal fade modal-open" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header w-100">
                <h1 class="modal-title mr-auto">Client Summary</h1>

                <button class="btn btn-dark">
                    MESSAGE
                </button>
                <button class="btn btn-dark">
                    OPEN
                </button>
                <button class="btn " (click)="hide()">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body member-modal-body pt-2 pb-1">

            </div>
        </div>
    </div>
</div>