<div bsModal #lgModal="bs-modal" class="modal fade modal-open" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xxxl">
        <div class="modal-content">
            <div class="modal-header w-100">
                <div class="h1 mr-4">
                    {{ workout?.name }}
                </div>
                <div class="h3 align-self-center mr-auto">
                    <span class="text-muted">
                        {{ workout?.type }}
                    </span>
                </div>

                <button class="btn " (click)="hide()">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body member-modal-body pt-2 pb-1">
                <div class="row" cdkDropListGroup>
                    <table cdkDropList #todoList="cdkDropList" [cdkDropListData]="workout.exercises"
                        [cdkDropListConnectedTo]="[doneList]" class="col-5 w-100 table border-right example-list"
                        (cdkDropListDropped)="drop($event)">
                        <tr>
                            <th scope="col">Name</th>
                            <!-- <th scope="col">Sets</th>
                            <th scope="col">Country</th> -->
                        </tr>
                        <tr *ngFor="let exercise of workout.exercises" cdkDrag>
                            <td>{{ exercise.name }}</td>
                            <!-- <td>Maria Anders</td>
                            <td>Germany</td> -->
                        </tr>
                    </table>

                    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="organizationExercises.slice()"
                        [cdkDropListConnectedTo]="[todoList]" class="col-7 row">
                        <div class="col-4 example-box" *ngFor="let exercise of organizationExercises.slice()" cdkDrag>
                            {{ exercise.logo.url }}
                            {{ exercise.name }}
                        </div>
                    </div>
                    <!-- <div cdkDropList [cdkDropListData]="basket" class="col-7 overflow-auto example-list"
                            (cdkDropListDropped)="drop($event)">
                            <div cdkDropList *ngFor="let exercise of organizationExercises.slice(0, 4)">
                                <div cdkDrag class="card">
                                    <iframe [src]="exercise.logo.url | domSanitizer" frameborder="0" allowfullscreen
                                        class="asset"></iframe>
                                    {{ exercise.name }}
                                </div>
                            </div>
                        </div> -->
                </div>
            </div>

            <div class="modal-footer">
                <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                    {{ errorMessage }}
                </div>

                <div class="btn-group">
                    <button class="btn btn-dark" type="button" (click)="save()" [disabled]="isLoading">
                        <i class="fa fa-check mr-2"></i> Done
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>