<form [formGroup]="programForm" (submit)="onSubmit(programForm.value)">
    <div class="modal-body">
        <div class="mb-4">
            Name and set the duration of your program. Clients can only see their current phase and will automatically
            get
            the next phase when the date elapses.
        </div>
        <div class="">
            <div class="mb-4">
                <label for="programName" class="form-label">Program Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="mb-3">
                <div for="exampleInputEmail1" class="form-label mb-2">Program Duration</div>
                <div class="row">
                    <div class="col form-group">
                        <label for="inputEmail3" class="col"> Weeks </label>
                        <input type="number" class="form-control col" id="weeks" formControlName="weeks">
                    </div>
                    of
                    <div class="form-group col">
                        <label for="inputEmail3" class=""> Phases </label>
                        <input type="number" class="form-control" id="phases" formControlName="phases">
                    </div>
                </div>
            </div>

            <div class="mb-5">
                <label for="programLength" class="form-label"> Program Length: </label>
                {{ programLength | number }}
            </div>
            <div class="mb-0">
                Progress photos and weigh-ins will be automatically scheduled at the start of each training plan or
                phase.
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <div class="btn-group">
            <button class="btn btn-dark" type="submit" [disabled]="isLoading">
                <i class="fa fa-check mr-2"></i> Start Building
            </button>
        </div>
    </div>

</form>