<div bsModal #lgModal="bs-modal" class="modal fade modal-open" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form>
            <div class="modal-content">
                <div class="modal-header w-100">
                    <h1 class="modal-title mr-auto">Add an Activity for day {{ dayOfTheMonth }}</h1>

                    <button class="btn " (click)="hide()">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="modal-body member-modal-body pt-2 pb-1 ml-4">

                    <fieldset class="form-group">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                        value="option1" checked>
                                    <label class="form-check-label h4" for="gridRadios1">
                                        Do Workout
                                    </label>
                                </div>

                                <div class="selection-window border mb-4 ml-4">
                                    <div class="d-flex py-3 px-4 align-items-center border-bottom" [ngClass]="{'bg-gradient-default': selectedWorkout?.id === workout.id}" *ngFor="let workout of workouts" (click)="selectWorkout(workout)">
                                        <div class="mr-3">
                                            <i class="fa fa-dumbbell" style="font-size: .8em;"></i>
                                        </div>

                                        <div class="">
                                            <div class="m-0" style="font-size: 1.2rem"> {{ workout.name }} </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                        value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Take Photo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>

                <div class="modal-footer">
                    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-dark" type="submit" [disabled]="isLoading">
                            <i class="fa fa-check mr-2"></i> Add Activity
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>