<div class="header bg-gradient-default py-5 py-xxl-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Welcome!</h1>
                    <p class="text-lead text-white">Complete your Profile</p>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-dark" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>

<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-dark shadow border-0">
                <div class="card-header bg-transparent mx-auto py-5">
                    <img src="./assets/img/brand/logo.png" class="navbar-brand-img">
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    <form [formGroup]="profileForm" (submit)="acceptInvitation(profileForm.value)">
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" formControlName="password" placeholder="Password"
                                    type="password">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-low-vision"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-danger" role="alert" *ngIf="formError">
                            Username & password not registered.
                        </div>

                        <div class="text-center mt-5">
                            <button type="submit" class="btn btn-primary w-100" [disabled]="!profileForm.valid">
                                Go to the App
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>