<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
  <!-- <div class="container-fluid">
    <div class="header-body">
    </div>
  </div> -->
</div>

<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-7 mb-xl-0">
      <div class="row mb-5">
        <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h2 class="card-title text-uppercase text-muted mb-0">WORKOUTS</h2>
                  <span class="h2 font-weight-bold mb-0">350</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-default text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> +5 </span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h2 class="card-title text-uppercase text-muted mb-0">USERS</h2>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-default text-white rounded-circle shadow">
                    <i class="fas fa-walking"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow mb-6">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <h1 class="mb-0"><strong>Latest Client Scope - What are they up to?</strong></h1>
            </div>
          </div>
        </div>
        <div class="px-4">
          <div class="row">
            <div class="col-auto h2">
              <span class="pr-2"> <i class="fas fa-award"></i> </span> Hot New Personal Bests
            </div>
          </div>

          <div class="div ml-4 my-2">
            <div class="avatar-group">
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Ryan Tompson">
                <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Romina Hadid">
                <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Alexander Smith">
                <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Jessica Doe">
                <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Ryan Tompson">
                <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Romina Hadid">
                <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Alexander Smith">
                <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Jessica Doe">
                <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-auto h2">
              <span class="pr-2"> <i class="fas fa-dumbbell"></i> </span> Waiting for new workouts
            </div>
          </div>

          <div class="div ml-4 my-2">
            <div class="avatar-group">
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Ryan Tompson">
                <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Romina Hadid">
                <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Alexander Smith">
                <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Jessica Doe">
                <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Ryan Tompson">
                <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Romina Hadid">
                <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-auto h2">
              <span class="pr-2"> <i class="far fa-heart"></i> </span> Need Some lovin'
            </div>
          </div>

          <div class="div ml-4 my-2">
            <div class="avatar-group">
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Ryan Tompson">
                <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Romina Hadid">
                <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Alexander Smith">
                <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
              </a>
              <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="Jessica Doe">
                <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <h1 class="mb-0"><strong> Business Growth (past 12 Months) </strong></h1>
            </div>
            <!-- <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div> -->
          </div>
        </div>
        <div class="table-responsive p-xl-4 p-lg-3">
          <div class="chart">
            <canvas id="client-compliance" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-5">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <h1 class="mb-0"><strong> Recent Activities </strong></h1>
            </div>
            <!-- <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Project</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  <div class="avatar-group">
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                    </a>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>