<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
    </div>
</div>

<div class="container-fluid mt--9" style="font-family: 'OpenSansRegular';">
    <div class="row">
        <div class="col">
            <div class="card border-0 shadow">
                <div class="card-header border-bottom" style="font-family: GothamBlack;">
                    <span class="h1 mb-0" style="color: #545454"> Master Programs </span>
                </div>

                <div class="card border-0 mb-4 mb-xl-0 h-100" style="color: #545454">
                    <div class="row no-gutters h-100">
                        <div class="col-xl-3 col-md-4 border-right overflow-auto h-100">
                            <div class="border-bottom" *ngFor="let program of programs"
                                (click)="selectProgram(program)">
                                <div class="flex-column w-100">
                                    <div class="d-flex py-3 program-drawer align-items-center w-100"
                                        [ngClass]="{'bg-gradient-default': program.id === selectedProgram?.id}">
                                        <div class="mr-3">
                                            <i class="fa fa-book" style="font-size: 2em;"></i>
                                        </div>

                                        <div class="">
                                            <div class="m-0" style="font-size: 1.2rem;"> {{ program.name }} </div>
                                            <p class="m-0"> {{ program.weeks * program.phases | number }} Weeks </p>
                                        </div>
                                        <div class="d-flex ml-auto">
                                            <li class="nav-item" ngbDropdown placement="bottom-right">
                                                <img src='assets/img/icons/3dots-menu.png' alt="3 dots style menu"
                                                    width="30px" height="30px" ngbDropdownToggle />
                                                <div ngbDropdownMenu style="min-width: 3rem !important; text-align: center;">
                                                    <button (click)="del_program(program)"
                                                        style="height: 30px; width: 30px; border-radius: 10%; border: 1px solid red;">
                                                        <i class="fa fa-trash" style="color: red"></i>
                                                    </button>
                                                </div>
                                            </li>
                                        </div>
                                    </div>

                                    <div class="flex-row ml-4 pl-2 border-left">
                                        <div class="mb-0" *ngIf="program.id === selectedProgram?.id">
                                            <div *ngFor="let phase of programPhases; let i = index"
                                                class="py-3 border-bottom">
                                                Weeks {{ program.weeks * i + 1 }} - {{ program.weeks * (i + 1) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-9 col-md-8" *ngIf="selectedProgram">
                            <ng-container [ngSwitch]="currentView">
                                <ng-container *ngSwitchCase="'user-list'">
                                    <div class="mx-3">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="border-right pr-4 mr-4">
                                                <span class="h1" style="font-size: 2em">
                                                    <strong style="color: #545454">
                                                        {{ selectedProgram.name }}
                                                    </strong>
                                                </span>
                                            </div>
                                            <div class="align-self-center">
                                                <a (click)="viewSchedule()">
                                                    <i class="far fa-calendar-alt mr-2"></i> View Calendar
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row align-items-center border-bottom pb-3">
                                            <div class="col-auto border-right">
                                                <span class="h3" style="color: #545454"> {{ programDuration | number }}
                                                    Weeks </span>
                                            </div>
                                            <div class="col">
                                                Description
                                            </div>
                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="m-2">
                                            <button type="button" (click)="openClientsModal($event)"
                                                class="btn btn-secondary text-center d-inline">
                                                <i class="fa fa-user-plus mr-2" style="height: auto; width: auto"></i>
                                                Add Users
                                            </button>
                                            <button type="button" class="btn btn-secondary text-center d-inline"
                                                *ngIf="usersSelected">
                                                <i class="fa fa-user-minus mr-2" style="height: auto; width: auto"></i>
                                                Remove Users
                                            </button>
                                            <button type="button" class="btn btn-secondary text-center d-inline"
                                                *ngIf="usersSelected">
                                                <i class="fas fa-paper-plane mr-2"
                                                    style="height: auto; width: auto"></i>
                                                Message Users
                                            </button>
                                        </div>

                                        <pf-table [rowData]="clients" [columnDefs]="columnDefs"
                                            (rowClicked)="rowClicked($event)"></pf-table>
                                    </div>
                                </ng-container>

                                <ng-container *ngSwitchCase="'schedule'">
                                    <div class="mx-3 mb-4">

                                        <div class="">
                                            <a class="h3" (click)="selectProgram(selectedProgram)">
                                                <i class="fas fa-arrow-left mr-2"></i> Back to Summary
                                            </a>
                                        </div>

                                    </div>

                                    <pf-calendar (dateClick)="dateClick($event)"></pf-calendar>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<pf-user-modal #userModal style="font-family: 'OpenSansRegular';"></pf-user-modal>
<pf-program-calendar-event #calendarEventModal style="font-family: 'OpenSansRegular';"></pf-program-calendar-event>
<pf-program-client-modal #clientsModal (onUserSave)="onUserSave($event)" style="font-family: 'OpenSansRegular';">
</pf-program-client-modal>