<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
    </div>
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <span class="h1 mb-0"> Master Programs </span>
                </div>

                <div class="card mb-4 mb-xl-0 h-100">
                    <div class="row no-gutters h-100">
                        <div class="col-xl-3 col-md-4 border-right overflow-auto">
                            <div class="d-flex py-3 program-drawer align-items-center"
                                [ngClass]="{'bg-gradient-default': program.id === selectedProgram?.id}"
                                *ngFor="let program of programs" (click)="selectProgram(program)">
                                <div class="mr-3">
                                    <i class="fa fa-book" style="font-size: 2em;"></i>
                                </div>

                                <div class="">
                                    <div class="m-0" style="font-size: 1.2rem"> {{ program.name }} </div>
                                    <p class="m-0"> {{ program.weeks * program.phases | number }} Weeks </p>
                                </div>

                                <!-- <div class="mb-0" *ngIf="program.id === selectedProgram?.id">
                                    <div *ngFor="let phase of programPhases">
                                        {{ program.weeks }}
                                    </div>
                                </div> -->
                            </div>
                            <hr />
                        </div>

                        <div class="col-xl-9 col-md-8" *ngIf="selectedProgram">
                            <ng-container [ngSwitch]="currentView">
                                <ng-container *ngSwitchCase="'user-list'">
                                    <div class="mx-3">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="border-right pr-4 mr-4">
                                                <span class="h1" style="font-size: 2em">
                                                    <strong>
                                                        {{ selectedProgram.name }}
                                                    </strong>
                                                </span>
                                            </div>
                                            <div class="align-self-center">
                                                <a (click)="viewSchedule()">
                                                    <i class="far fa-calendar-alt mr-2"></i> View Calendar
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row align-items-center border-bottom pb-3">
                                            <div class="col-auto border-right">
                                                <span class="h3"> {{ programDuration | number }} Weeks </span>
                                            </div>
                                            <div class="col">
                                                Description
                                            </div>
                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="m-2">
                                            <button type="button" (click)="openClientsModal($event)"
                                                class="btn btn-secondary text-center d-inline">
                                                <i class="fa fa-user-plus mr-2" style="height: auto; width: auto"></i>
                                                Add Users
                                            </button>
                                            <button type="button" class="btn btn-secondary text-center d-inline"
                                                *ngIf="usersSelected">
                                                <i class="fa fa-user-minus mr-2" style="height: auto; width: auto"></i>
                                                Remove Users
                                            </button>
                                            <button type="button" class="btn btn-secondary text-center d-inline"
                                                *ngIf="usersSelected">
                                                <i class="fas fa-paper-plane mr-2"
                                                    style="height: auto; width: auto"></i>
                                                Message Users
                                            </button>
                                        </div>

                                        <pf-table [rowData]="clients" [columnDefs]="columnDefs"
                                            (rowClicked)="rowClicked($event)"></pf-table>
                                    </div>
                                </ng-container>

                                <ng-container *ngSwitchCase="'schedule'">
                                    <div class="mx-3 mb-4">

                                        <div class="">
                                            <a class="h3" (click)="selectProgram(selectedProgram)">
                                                <i class="fas fa-arrow-left mr-2"></i> Back to Summary
                                            </a>
                                        </div>

                                    </div>

                                    <pf-calendar (dateClick)="dateClick($event)"></pf-calendar>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<pf-user-modal #userModal></pf-user-modal>
<pf-program-calendar-event #calendarEventModal></pf-program-calendar-event>
<pf-program-client-modal #clientsModal (onUserSave)="onUserSave($event)"></pf-program-client-modal>