<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
    </div>
</div>

<div class="container-fluid mt--9" style="font-family: 'OpenSansRegular';">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0" style="font-family: GothamBlack;">
                    <span class="h1 mb-0"> Clients </span>
                </div>

                <pf-table [rowData]="clients" [columnDefs]="columnDefs" (rowClicked)="rowClicked($event)"></pf-table>
            </div>
        </div>
    </div>
</div>

<pf-user-modal #userModal></pf-user-modal>