.ag-header-cell-text {
  text-align: center;
  margin: 0 0 0 1.3em;
}

.ag-header-row {
  background: #f6f9fc;
  margin-bottom: 3em;
}

.ag-cell {
    margin: 0 0 0 2em;
}

.ag-center-cols-clipper {
    margin: 1em 0 0 0;
}