<div class="header bg-gradient-default pb-9 pt-5 pt-md-8" style="height: 24rem;">
</div>
<div class="container-fluid" style="margin-top: -16rem !important;">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div>
          <img src="assets/img/theme/profile-exercise.png" width="100%" style="border-top-left-radius: 0.375rem; border-top-right-radius: 0.375rem;">
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{user.firstname}} {{user.lastname}}<span class="font-weight-light">, 27</span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{user.city}}
            </div>
            <hr class="my-4" />
            <div>
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative"
                  placeholder="A few words about you ...">{{ user.aboutme }}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="row mb-5">
        <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h2 class="card-title text-uppercase text-muted mb-0">WORKOUTS</h2>
                  <span class="h2 font-weight-bold mb-0"> 208 </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-default text-white rounded-circle shadow">
                    <i class="fas fa-dumbbell"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 12.48% </span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h2 class="card-title text-uppercase text-muted mb-0">CLIENTS</h2>
                  <span class="h2 font-weight-bold mb-0"> +5 </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-default text-white rounded-circle shadow">
                    <i class="ni ni-user-run"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48% </span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-header bg-white" style="border-bottom: 1px #e9ecef  solid;">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My Profile</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">SAVE PROFILE</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative"
                      placeholder="Username" [value]="user.username">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative"
                      placeholder="jesse@example.com" [value]='user.email'>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative"
                      placeholder="First name" [value]="user.firstname">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" [value]="user.lastname">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address"
                      [value]="user.address" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City"
                      [value]="user.city">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative"
                      placeholder="Country" [value]="user.country">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative"
                      placeholder="Postal code" [value]='user.postcode'>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Terms & conditions -->
            <h6 class="heading-small text-muted mb-4">Terms and Conditions</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>My Terms and Conditions</label>
                <quill-editor [styles]="editorStyle" placeholder="Enter Text" [(ngModel)]="editorContent"
                  name="quill_editor"></quill-editor>
                <!-- <div [froalaEditor]='options' [(froalaModel)]="editorContent"></div> -->
                <div style="margin: auto; margin-top: 10px;">
                  <button type="button" class="btn btn-primary" (click)="saveTermCondition()"
                    [disabled]="!editorContent"
                    style="width: 100%; border-radius: 5px; background: #5e72e4 !important;">
                    Save my Terms & conditions</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>