<div class="card card-stats mb-4 mb-xl-0 border-0">
    <div class="card-header border-bottom">
        <span class="h1 mb-0"> Inbox </span>
    </div>

    <div class="row no-gutters h-100">
        <div class="col-xl-3 col-md-4 border-right overflow-auto">
            <div class="d-flex align-items-center friend-drawer border-bottom" *ngFor="let client of clients" (click)="onSelectedClientClick(client)">
                <!-- <img class="profile-image" [src]="client.logo.url"> -->
                <img class="profile-image" src="assets/img/theme/team-4-800x800.jpg">
                <div class="text">
                    <h3>{{ client.firstname }} {{ client.lastname }} </h3>
                    <p class="text-muted"> {{ client.email }} </p>
                </div>
                <span class="time text-muted small">
                    13:21
                </span>
            </div>
        </div>
        <div class="col-xl-9 col-md-8 h-100">
            <div class="content h-100">
                <div class="h-100 box1 overflow-auto">
                    <div [class]="chatMessage.from.id===user.id? 'd-flex justify-content-end mb-4 px-4' : 'd-flex justify-content-start mb-4 px-4'" *ngFor="let chatMessage of chat">
                        <!-- <img [src]="chatMessage.from.logo.url" alt="avatar"
                            class="avatar rounded-circle d-flex align-self-start mr-2 z-depth-1 border"> -->
                        <img src="assets/img/theme/team-4-800x800.jpg" alt="avatar"
                            class="avatar rounded-circle d-flex align-self-start mr-2 z-depth-1 border">
                        <div class="chat-body bg-dark text-white p-3 ml-2 z-depth-1">
                            <div class="header">
                                <strong class="primary-font">{{ chatMessage.from.firstname}} {{ chatMessage.from.lastname}}</strong>
                                <small class="pull-right text-muted"> 12 mins ago</small>
                            </div>
                            <!-- <hr class="w-100"> -->
                            <p class="mb-0">
                                {{ chatMessage.text }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box w-100 px-4">
                    <form [formGroup]="message" (submit)="send(message.value)" class="form-group">
                        <div class="input-group input-group-alternative shadow-lg border">
                            <input class="form-control" placeholder="Type Message Here ..." formControlName="text"
                                type="text">
                            <div class="input-group-append">
                                <div class=" my-auto h1 mr-4">
                                    <i class="fas fa-cloud-upload-alt text-gray"></i>
                                </div>
                                <button class="btn btn-primary rounded">
                                    <i class="fas fa-paper-plane mr-2"></i> SEND
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>