<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main" style="font-family: 'OpenSansRegular';">
    <div class="container-fluid">
        <!-- Brand -->
        <span class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">
            <!-- Form -->
            <form class="navbar-search navbar-search-dark form-inline mr-9 d-none d-md-flex ml-lg-auto">
                <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input class="form-control" placeholder="Search" type="text" (focus)="focus = true"
                            (blur)="focus = false">
                    </div>
                </div>
            </form>
        </span>

        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item" ngbDropdown placement="bottom-right">
                <div class="nav-link pr-4 h1">
                    <div class="media align-items-center" style="font-family: 'GothamMedium';">
                        <button class="btn btn-dark" role="button" ngbDropdownToggle>
                            <span class="mr-2"> ADD NEW </span> <i class="fas fa-chevron-down"></i>
                        </button>
                    </div>
                </div>

                <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                    <button (click)="openModal(template)" class="dropdown-item">
                        <i class="fas fa-book"></i>
                        <span>Program</span>
                    </button>
                    <button (click)="openModal(workoutTemplate)" class="dropdown-item">
                        <i class="fas fa-dumbbell"></i>
                        <span>Workout</span>
                    </button>
                    <button (click)="openModal(exerciseTemplate)" class="dropdown-item">
                        <i class="fas fa-dumbbell"></i>
                        <span>Exercise</span>
                    </button>
                    <button (click)="openModal(trainerTemplate)" class="dropdown-item">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <span>Trainer</span>
                    </button>
                    <button (click)="openModal(clientTemplate)" class="dropdown-item">
                        <i class="ni ni-user-run"></i>
                        <span>Client</span>
                    </button>
                </div>
            </li>
            <li class="nav-item" ngbDropdown placement="bottom-right">
                <a class="nav-link mr-3 h1" role="button" ngbDropdownToggle>
                    <div class="media align-items-center">
                        <i class="ni ni-bell-55"></i>
                    </div>
                </a>
                <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">
                            Notifications
                        </h6>
                    </div>

                </div>
            </li>
            <li class="nav-item" ngbDropdown placement="bottom-right">
                <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                    <div class="media align-items-center">
                        <span class="avatar avatar-sm rounded-circle">
                            <img alt="Image placeholder" [src]="imageUrl" width="36px" height="36px">
                        </span>
                        <div class="media-body ml-3 d-none d-lg-block mr-2">
                            <span class="mb-0 text-lg font-weight-bold">{{ user.firstname || ''}} {{ user.lastname ||
                                ''}} </span>
                        </div>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </a>
                <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">{{ user.email || ''}}</h6>
                    </div>
                    <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
                        <i class="ni ni-single-02"></i>
                        <span>My profile</span>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
                        <i class="ni ni-support-16"></i>
                        <span>Support</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a (click)="logout()" class="dropdown-item">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<ng-template #template style="font-family: 'OpenSansRegular';">
    <div class="modal-header">
        <h1 class="modal-title pull-left">Create a New Master Program</h1>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <pf-program-form (submitted)="modalRef.hide()"></pf-program-form>
</ng-template>

<ng-template #workoutTemplate style="font-family: 'OpenSansRegular';">
    <div class="modal-header">
        <h1 class="modal-title pull-left">Build New Workout</h1>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <pf-workout-form (submitted)="modalRef.hide()"></pf-workout-form>
</ng-template>

<ng-template #exerciseTemplate style="font-family: 'OpenSansRegular';">
    <div class="modal-header">
        <h1 class="modal-title pull-left">Build New Exercise</h1>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <pf-exercise-form (submitted)="modalRef.hide()"></pf-exercise-form>
</ng-template>

<ng-template #trainerTemplate style="font-family: 'OpenSansRegular';">
    <div class="modal-header">
        <h1 class="modal-title pull-left">Invite Trainer</h1>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <pf-trainer-form (submitted)="modalRef.hide()"></pf-trainer-form>
</ng-template>

<ng-template #clientTemplate style="font-family: 'OpenSansRegular';">
    <div class="modal-header">
        <h1 class="modal-title pull-left">Invite Client</h1>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <pf-client-form (submitted)="modalRef.hide()"></pf-client-form>
</ng-template>